.folder {
	position: relative;
}

.folder-handle {
	cursor: grab;

	i {
		color: var(--text-color-gray50);
	}
}

.folder-whisper {
	background-color: var(--gray50);
	color: var(--text-color-tertiary);
	cursor: grabbing;
}

