{{- $isMyself := .IsMyself -}}
{{- $showAlbums := eq "true" (.Data "show-albums") -}}
{{- $showEvents := eq "true" (.Data "show-events") -}}
{{- $showNews := eq "true" (.Data "show-news") -}}
{{- $showShop := ne "" (.Data "shop-url") -}}
{{- $hasBannerImage := ne "" .ImageURL -}}
{{- $hasBannerColor := ne "" (.Data "color-banner") -}}
{{- $circleCount := .Circles.Featured.Count -}}
{{- $layout := .Data "layout" -}}
{{- $isPublic := .IsPublic -}}

{{- $isMobile := .IsMobile -}}
{{- $isDesktop := not $isMobile -}}

<!--style>{{- template "stylesheet" . -}}</style-->

<div id="profile-card" class="pos-relative">
	<!-- Banner Image -->
	{{- if or $hasBannerImage $hasBannerColor $isMyself -}}
		<div id="profile-banner" class="pos-relative hide sm:show">
			<img src="{{.ImageURL}}" class="width-100%">
		</div>
	{{- end -}}

	<!-- Author Name -->
	<div class="padding flex-row flex-align-start pos-relative">
		<div class="width-128 height-100 margin-right-sm">
			<img id="profile-icon" src="{{.IconURL}}" class="width-100%" aria-hidden="true">
		</div>
		<div class="width-100%">
			<h1 id="profile-name" class="text-2xl bold margin-none align-left">{{.DisplayName}}</h1>
			<div class="margin-vertical sm:margin-none align-left">
				<div id="profile-username" class="text-gray margin-right-sm nowrap" script="install Clipboard">
					<span class="clipboard-text" hidden>@{{.Username}}@{{.Hostname}}</span>
					<span class="clickable clipboard-copy-button">
						<span>@{{.Username}}</span>
						<span class="text-xs">{{icon "copy"}}</span>
					</span>
					<span class="clipboard-copy-feedback" style="display:none;">
						<span>@{{.Username}}</span>
						<span class="text-xs text-green">{{icon "check"}} Copied to clipboard</span>
					</span>
				</div>

				<div class="text-gray nowrap">
					{{- if ne "" .Location }}
						<span id="profile-location"> {{icon "map-pin"}} {{.Location}}</span>
					{{- end -}}

					{{- if .Links.NotEmpty -}}
						<span id="profile-links">
							{{- range  $index, $link := .Links }}									
								<span aria-hidden="true">&middot;</span>
								<a href="{{$link.ProfileURL}}" rel="me" target="_blank">{{$link.Name}}</a>
							{{- end -}}
						</span>
					{{- end -}}
				</div>
			</div>

		</div>
		<div>

			<div class="nowrap" script="on load trigger storage on window">
				<div class="flex-row margin-none">
					<button hx-post="/@{{.UserID}}/add" class="action{{if $isMobile}} icon{{end}}">{{icon "plus"}}{{if $isDesktop}} New Post{{end}}</button>
					{{- if $isMyself -}}
						<div class="dropdown">
							<a class="button icon">{{icon "dots"}}</a>
							<div class="dropdown-content fixed" style="{{if $isMobile}}right: calc(var(--rhythm) * 4){{end}}">
								<button class="dropdown-item" hx-get="/@me/edit-layout">
									{{- if eq $layout "column-1" -}}
										{{icon "columns-1"}} 1 Column Layout
									{{- else if eq $layout "column-2" -}}
										{{icon "columns-2"}} 2 Columns Layout
									{{- else if eq $layout "column-3" -}}
										{{icon "columns-3"}} 3 Columns Layout
									{{- else if eq $layout "row-reverse" -}}
										{{icon "layout-rows"}} Rows Reversed Layout
									{{- else -}}
										{{icon "layout-rows"}} Rows Layout
									{{- end -}}
								</button>
								<button class="dropdown-item" hx-get="/@me/settings">{{icon "settings"}} Edit Profile</button>
								<button class="dropdown-item text-red" hx-post="/signout">{{icon "logout"}} Sign Out</button>
							</div>
						</div>
					{{- else -}}

						<!--
						{{- if .IsAuthenticated -}}
							{{- $following := .AmFollowing .Permalink -}}
							{{- if $following.IsNew -}}
								<button hx-get="/@me/settings/following-edit?url={{.Permalink}}" class="primary">{{icon "fediverse"}} Follow for Updates</button>
							{{- else -}}
								<button hx-get="/@me/settings/following-edit?url={{.Permalink}}" class="primary">{{icon "check"}} Following</button>
							{{- end -}}
						{{- else -}}
						{{- end -}}
						{{- if not .IsAuthenticated -}}
							<div class="margin-top-sm text-xs text-light-gray">
								<span hx-get="/@{{.UserID}}/intent" class="clickable intentMarker-account">&nbsp;</span>
							</div>
						{{- end -}}
						-->

						<!--button hx-get="/@{{.UserID}}/intent?intent=follow&object={{.Permalink}}" class="primary"-->
						<button hx-get="/@{{.UserID}}/follow" class="primary">
							Follow
						</button>

						{{- if gt $circleCount 0 -}}
							<button hx-get="/@{{.UserID}}/subscribe" class="primary">
								Subscribe
							</button>
						{{- end -}}

					{{- end -}}

				</div>
			</div>
		</div>
	</div>
</div>