{{- $isMyself := .IsMyself -}}
{{- $username := .Username -}}
{{- $layout := .Data "layout" -}}

{{- if eq .StateID "LIVE" -}}

	<!-- Page content -->
	<div class="framed page h-card" 
		script="{{- if .IsMyself -}}
			init send SelectNav(id:'outbox')
		{{- else -}}
			on load remove .selected from .nav-item
		{{- end -}}">

		<title>{{.DisplayName}}</title>
		<link rel="icon" href="{{.IconURL}}"/>

		<!-- oEmbed: https://oembed.com -->
		<link rel="alternate" type="application/json+oembed" href="{{.OEmbedJSON}}">
		<link rel="alternate" type="text/xml+oembed" href="{{.OEmbedXML}}">
			
		<!-- ActivityPub links -->
		<link rel="http://webfinger.net/rel/profile-page" href="{{.ProfileURL}}"/>
		<link rel="http://ostatus.org/schema/1.0/subscribe" href="{{.Host}}/.ostatus/tunnel?uri={uri}">
		<link rel="self" type="application/activity+json" href="{{.ActivityPubURL}}"/>

		<!-- RSS and WebSub Links -->
		<link rel="hub" href="{{.Host}}/@{{.UserID}}/websub"/>
		<link rel="alternate" type="application/rss+xml" href="{{.Host}}/@{{.UserID}}/feed?format=rss"/>
		<link rel="alternate" type="application/atom+xml" href="{{.Host}}/@{{.UserID}}/feed?format=atom"/>
		<link rel="alternate" type="application/feed+json" href="{{.Host}}/@{{.UserID}}/feed?format=json"/>
		<link rel="canonical" class="u-url" href="{{.ProfileURL}}">

		<!-- Open Graph: https://ogp.me -->
		<meta property="og:type" content="profile">
		<meta property="og:title" content="{{.DisplayName}}">
		<meta property="og:description" content="{{.StatusMessage}}">
		<meta property="og:url" content="{{.Permalink}}">
		<meta property="og:image" content="{{.IconURL}}">
		<meta property="profile:username" content="{{.Username}}">

		{{- if not .IsPublic -}}
			<div hx-get="/@{{.UserID}}/publish" class="clickable alert-green margin-none" role="button">
				{{icon "check-circle"}} 
				Your profile IS READY TO PUBLISH on the social web.
				<span class="text-underline">Click here to publish it now</span>
			</div>
		{{- end -}}

		{{- template "header" . -}}

			<div class="max-width-800 margin-top">

				<!-- "Tabs" -->
				<div role="tablist" class="pills">
					<span role="tab" aria-selected="true">Posts</span>
					<a href="/@{{.UserID}}/replies" hx-get="/@{{.UserID}}/replies" hx-push-url="false" hx-swap="innerHTML transition:false show:none" role="tab">Replies</a>
					<a href="/@{{.UserID}}/about" hx-get="/@{{.UserID}}/about" hx-push-url="false" hx-swap="innerHTML transition:false show:none" role="tab">About</a>
				</div>

				<!-- Layout -->
				{{- if eq $layout "column-1" -}}
					<div class="cols-1">
						{{template "outbox-column" .}}
					</div>
				{{- else if eq $layout "column-2" -}}
					<div class="cols-2">
						{{template "outbox-columns" .}}
					</div>
				{{- else if eq $layout "column-3" -}}
					<div class="cols-2-3">
						{{template "outbox-columns" .}}
					</div>
				{{- else if eq $layout "row-reverse" -}}
					<div class="max-width-800">
						{{template "outbox-row-reverse" .}}
					</div>
				{{- else -}}
					<div class="max-width-800">
						{{template "outbox-row" .}}
					</div>
				{{- end -}}

			</div>		

	</div>

	{{- if $isMyself -}}
		<div id="outbox-refresh-{{.UserID}}" hx-preserve>

			<div 
				hx-get="/@{{.UserID}}" 
				hx-trigger="refreshPage from:window" 
				hx-target="main" 
				hx-swap="innerHTML"
				hx-push-url="false">
			</div>

			<div hx-ext="sse" sse-connect="/@me/sse">
				<div 
					hx-get="/@{{.UserID}}" 
					hx-trigger="sse:{{.UserID}}"  
					hx-target="main" 
					hx-swap="innerHTML"
					hx-push-url="false">
				</div>
			</div>

		</div>
	{{- end -}}

	<link rel="stylesheet" href="/.templates/user-outbox/stylesheet" />
	<script src="/.themes/global/resources/camperjs/camper.js"></script>


{{- else if not $isMyself -}}
	{{- template "coming-soon" . -}}
{{- else  -}}
	{{- template "wizard-1" . -}}
{{- end -}}