{{- $isMyself := .IsMyself -}}

<div class="framed page">

	{{- template "header" . -}}

	<div class="max-width-800 margin-top">

		<!-- "Tabs" -->
		<div role="tablist" class="pills">
			<a href="/@{{.UserID}}" hx-get="/@{{.UserID}}" hx-push-url="false" hx-swap="innerHTML transition:false show:none" role="tab">Posts</a>
			<span role="tab" aria-selected="true">Replies</span>
			<a href="/@{{.UserID}}/about" hx-get="/@{{.UserID}}/about" hx-push-url="false" hx-swap="innerHTML transition:false show:none" role="tab">About</a>
		</div>

		<!-- Replies -->
		<div class="margin-bottom-xl">
			{{- template "replies-list" . -}}
		</div>

	</div>

	<div 
		hx-get="/@{{.UserID}}/about" 
		hx-trigger="refreshPage from:window" 
		hx-target="main" 
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>

<link rel="stylesheet" href="/.templates/user-outbox/stylesheet" />