<div id="article-social" class="flex-row flex-align-center">
	<div class="flex-grow text-xs camper-show-if-has-accounts flex-row flex-align-center" style="gap:0px;" hidden>
		<button class="camper-intent-button" data-intent="like" data-object="{{.Permalink}}">
			{{icon "heart"}} 0
		</button>
		<button class="camper-intent-button" data-intent="reply" data-inreplyto="{{.Permalink}}">
			{{icon "message-circle"}} 0
		</button>
		<span hx-get="/{{.StreamID}}/intent">
			<span class="flex-row flex-align-center clickable">
				&nbsp;
				<img class="camper-account-image circle" style="height:1em;"></i>
				<span class="camper-account-name text-underlined text-gray"></span>
			</span>
		</span>
	</div>
	<div class="flex-grow text-xs camper-hide-if-has-accounts">
		<button hx-get="/{{.StreamID}}/intent?intent=Like&object={{.Permalink}}" class="tertiary">{{icon "heart"}} 0</button>
		<button hx-get="/{{.StreamID}}/intent?intent=Reply&inReplyTo={{.Permalink}}" class="tertiary">{{icon "message-circle"}} 0</button>
	</div>
	<div class="flex-grow align-right">
		<!--
		<a hx-get="/{{.StreamID}}/responses" class="text-nocolor text-sm"> {{.ResponseCount}} Likes</a>
		&nbsp;
		<a hx-get="/{{.StreamID}}/replies" class="text-nocolor text-sm"> {{.ReplyCount}} Replies</a>
	-->
	</div>
</div>

<script src="/.themes/global/resources/camperjs/camper.js" defer></script>