/******************************************
 * Page
 ******************************************/

/* All Screens */
.page {
	background-color: unset;
	container-type: inline-size;
	position: relative;
	line-height: 150%;
	border: none;
	font-weight: 400;
	width: 100%;
	margin: 0px;
}

.framed {
	position: relative;
	width: 100%;
	height: min-content;
	margin: 0px;
}

article.content {
	width: 100%;
	background-color: var(--white);
	padding: calc(var(--rhythm) * 3);
	border-radius: calc(var(--rhythm) * 2);
	border: 1px solid var(--page-border);
}

.card.border

/******************************************
 * Fullscreen
 ******************************************/

.fullscreen {
	container-type:inline-size;
    position:relative;
	line-height:150%;
	border: none;
	padding: var(--rhythm);
	font-weight:400;
	width:100%;
	margin:0px;
}

/** LARGE Screens (tablet/horizontal) ******/
@media screen and (min-width:1024px) {

	.page {
		width: 100%;
		max-width: unset;
		height: fit-content;
		padding: calc(var(--rhythm) * 2);
	}

	.framed {
		max-width: 720px;
	}
}

/** SMALL Screens (mobile/vertical) ******/

@media screen and (max-width: 768px) {
	article.content {
		padding: calc(var(--rhythm) * 2);
	}
}