{{- $isDesktop := .IsDesktop -}}

<div class="app" script="init send SelectNav(id:'settings')">
	<title>Profile | General</title>

	<!-- {{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "general" -}}
		</div>
	{{- end -}} -->

	<div id="app-sidebar" class="flex-column flex-justify-between{{if $isDesktop}} expanded{{else}} collapsed{{end}}">
		{{- template "menu" "general" -}}
	</div>
	
	<div class="app-content padding transition-main-card">

		<div id="menu-bar">
			<!-- {{ if not $isDesktop }}
				<a href="/@me/settings/mobile" class="turboclick tab" hx-boost="true">{{icon "back"}}</a>
			{{ end }} -->
			{{ if $isDesktop }}
				<div class="left tabs">
					<a href="/@me/settings/general" class="turboclick tab selected" hx-boost="true">General</a>
					<a href="/@me/settings/images" class="turboclick tab" hx-boost="true">Images</a>
					<a href="/@me/settings/links" class="turboclick tab" hx-boost="true">Links</a>
					<a href="/@me/settings/import" class="turboclick tab" hx-boost="true">Import</a>
					<a href="/@me/settings/export" class="turboclick tab" hx-boost="true">Export</a>
				</div>
			{{ else }}
				<div class="dropdown">
					<a class="button">General {{icon "chevron-down"}}</a>
					<div class="dropdown-content left">
						<a href="/@me/settings/general" class="turboclick dropdown-item selected" hx-boost="true">General</a>
						<a href="/@me/settings/images" class="turboclick dropdown-item" hx-boost="true">Images</a>
						<a href="/@me/settings/links" class="turboclick dropdown-item" hx-boost="true">Links</a>
						<a href="/@me/settings/import" class="turboclick dropdown-item" hx-boost="true">Import</a>
						<a href="/@me/settings/export" class="turboclick dropdown-item" hx-boost="true">Export</a>
					</div>
				</div>
			{{ end }}
			<div class="right">
				<a href="https://emissary.dev/user-profile" target="_blank" class="button secondary">
					{{icon "help"}}
					{{ if $isDesktop }} Help {{ end }}
				</a>
			</div>
		</div>

		<div class="card border padding">
			<div
				hx-get="/@me/settings/general-form"
				hx-trigger="load"
				hx-target="this"
				hx-swap="outerHTML"
				hx-push-url="false">
			</div>
		</div>
	</div>
</div>