{{- $isDesktop := .IsDesktop -}}

<div class="app padding" script="init send SelectNav(id:'settings')">
	<title>Social | Notifications</title>

	{{- if $isDesktop -}}
		<div id="app-sidebar" class="expanded">
			{{- template "menu" "social" -}}
		</div>
	{{- end -}}

	<div class="app-content">

		<div id="menu-bar">
			{{ if not $isDesktop }}
				<a href="/@me/settings/mobile" class="turboclick tab" hx-boost="true"><i class="ti ti-back"></i></a>
			{{ end }}
			<div class="{{ if not $isDesktop }}center{{else}}left{{end}} tabs">
				<a href="/@me/settings/following" class="tab" hx-boost="true">Following</a>
				<a href="/@me/settings/followers" class="tab" hx-boost="true">Followers</a>
				<a href="/@me/settings/circles" class="tab" hx-boost="true">Circles</a>
				<a href="/@me/settings/notifications" class="tab selected" hx-boost="true">Notifications</a>
				<a href="/@me/settings/rules" hx-boost="true">Rules</a>
			</div>
			<div class="right">
				<a href="https://emissary.dev/notifications" target="_blank" class="link">
					<i class="ti ti-help"></i>
					{{ if $isDesktop }} Help {{ end }}
				</a>
			</div>
		</div>

		<div class="card padding transition-main-card">

			<div class="text-lg bold margin-bottom">Server-Side Options</div>
			<div class="margin-bottom">Choose the message types that will trigger a notifications. This decision is saved on your server, and applies to all real-time alerts and "unread" indicators in your inbox.</div>

			<div
				hx-get="/@me/settings/notifications-form"
				hx-trigger="load"
				hx-target="this"
				hx-swap="outerHTML"
				hx-push-url="false">
			</div>

		</div>
	</div>
</div>
